:root {
    --system-bg-color: #4878c4;
    --content-bg-color: #c9cfd8;
    
    
    --link-light-color: #010f21;
    --link-dark-color: #31527c;
    --text-light-color: #c0d8f7;
    --text-dark-color: #010f21;
    
}

.html {
    min-height: 100%;
}

.body {
    margin: 0;
    color: var(--text-dark-color);
    width: 100vw;
    height: 100vh;
}

a {
    color: var(--link-dark-color);
    text-decoration: none;
}

.a-light {
    color: var(--link-light-color);
    text-decoration: none;
}

.a-light:hover {
    color: darkslateblue;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.menu-image:hover{

    box-shadow: 0 1px 8px black;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
  /*line-height: 0px;*/
  background-color: var(--system-bg-color);
  text-align: center;
  color: var(--text-light-color);
}

.header {
    top: 0;
  right: 0;
  left: 0;
    z-index: 1;
  padding: 10px 16px;
  height: auto;
    /*width: 100vw;*/
  line-height: 0px;
  background: var(--system-bg-color);
  color: var(--text-light-color);
    overflow: auto;
}

.header-title {
    float: left;
    color: var(--text-light-color);
}

.header-login {
    float: right;
    padding-right: 30px;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
    
}

.content {
    background-color: var(--content-bg-color);
    color: var(--text-dark-color);
    text-align: center;
    width: 100vw;
    min-height: 96%;
    height: auto;
    /*padding-bottom: 65px;*/
    overflow: scroll;
    overflow-x:hidden;
}

.lower {
    padding-top: 60px;
}

.top-bar {
    background: #a1aab7;
    height: auto;
    min-height: 70px;
    border: 3px solid;
    border-color: var(--content-bg-color);
    border-radius: 25px;
}

.top-bar-title {
    line-height: 0px;
    float: left;
    padding-left: 20px;
    padding-top: 0px;
    width: 100%;
    text-align: left;
    margin: 0px;
    height: 0px;
}

.top-bar-body {
    /*line-height: 0px;*/
    height: auto;
    border: 2px solid;
    border-color: orangered;
    border-radius: 17px;
    margin: 0px;
    padding: 10px;
}

.top-bar-line {
    margin: 7px;
    padding-top: 4px;
}

.feed-title {
    top: 0;
    left: 0;
    width: auto;
    /*line-height: 0px;*/
    text-align: left;
    font-size: 14px;
    float: left;
}

.feed-id {
    top: 0;
    right: 0;
    /*line-height: 0px;*/
    text-align: right;
    font-style: italic;
    font-size: 10px;
    padding-bottom: 10px;
    float: right;
}

.post-time {
    bottom: 0;
    right: 0;
    width: auto;
    line-height: -1px;
    text-align: right;
    font-size: 14px;
    padding-right: 1.5px;
}

.post-options {
    bottom: 0;
    left: 0;
    width: auto;
    line-height: 10px;
    text-align: left;
    font-size: 14px;
    padding-left: 1.5px;
    float: left;
}

.post-message {
    padding: 10px;
    padding-bottom: 0px;
    font-family: sans-serif;
}

.group-message {
    font-family: sans-serif;
}

.metadata {
    
}

.left-area {
    background: #a1aab7;
    width: auto;
    max-width: 65vw;
    height: auto;
    float: left;
    border: 10px solid;
    border-right: 5px solid;
    border-color: var(--content-bg-color);
}

.right-area {
    background: #a1aab7;
    float: right;
    width: 20%;
    border: 10px solid;
    border-left: 5px solid;
    border-color: var(--content-bg-color);
}

.center-area {
    margin: auto;
    background: #a1aab7;
    
    width: 95vw;
    height: auto;
    top: 0;
    border: 10px solid;
    border-color: var(--content-bg-color);
    overflow: auto;
    
}

.center-area-wide {
    margin: auto;
    background: #a1aab7;
    
    width: 75vw;
    height: auto;
    top: 0;
    border: 10px solid;
    border-color: var(--content-bg-color);
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.register-link {
    line-height: 0px;
    text-align: center;
    text-decoration: none;
    color: var(--link-dark-color);
}

.broadcast-area {
    margin: auto;
    background: #a1aab7;
    width: 75%;
    height: auto;
    top: 0;
    border: 3px solid;
    border-color: var(--content-bg-color);
    border-radius: 25px;
}

#feed {
    border-radius: 25px;
    background: var(--content-bg-color);
    width: 65vw;
    max-width: 700px;
}

.feedElement {
    padding: 10px;
    background: whitesmoke; 
    border: 1px solid #0F0F0F;
    padding-top: 10px;
    padding-bottom: 1px;
    border-radius: 3.5px;
    box-shadow: 0px 1px 1px 1px #888888;
    min-height: 50px;
}

.index-feedElement {
    padding: 10px;
    background: #adbace; 
    border: 10px solid #a1aab7;
    padding-top: 20px;
    padding-bottom: 1px;
    font-size: 18px;
    font-family: sans-serif;
}

#options {
    background: var(--content-bg-color);
}

.optionsElement {
    padding: 10px;
    background: #a1aab7; 
    border: 3px solid var(--content-bg-color);
    border-radius: 13px;
}

textarea {
    width: 240px;
    height: 50px;
    padding: 5px;
    border: 1px solid ;
    border-radius: 4px;
    box-shadow: 0px 1px 1px 1px #888888;
    transition: height .3s ease-out, width .3s ease-out;
    resize: none;
}

textarea:onChange {
    width: 90%;
    height: 150px;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

.feedSpacer {
    height: 5px;
}

button {
    padding: 4px;
    -webkit-border-fit:border !important;
}

button:hover {
    box-shadow: 0px 2px 2px 2px #888888;
}

.nsfwBlur {
    filter: blur(50px);
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='50');
}

.fitImage {
    width: 100%;
    height: auto;
}

.thumbnail {
    width: 35vw;
    height: 30vw;
    max-width: 100%;
    max-height: 45vh;
}

.blacklist {
    color: orangered;
}

#global {
    border-color: #0F0F0F;
}

#relevance {
    border-color: #0F0F0F;
}

body {
    width: auto;
    overflow-y: scroll; 
    overflow-x: hidden;
}

#last-week{
    font-family: sans-serif;
}

#next-week{
    font-family: sans-serif;
}

@media (max-width: 50em) { /* when the width is less than 30em, make both of the widths 100% */
    #feed {
        width:auto;
    }
  .left-area {
    width: auto; 
    max-width: 100vw;
    border: 25px solid;
    border-color: var(--content-bg-color);
    float: none;
  }
  .right-area {
    width: auto;
    border: 10px solid;
    border-color: var(--content-bg-color);
    float: none;
  }
}

/* Style the Image Used to Trigger the Modal */
.feedImg {
  cursor: pointer;
  transition: 0.3s;
}

.feedImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 65px;
  right: 25px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

#initloader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--system-bg-color);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

